:root {
  --background: rgba(0, 0, 0, 0.7);
  --border: double;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: white;
}

#content {
  position: relative;
  min-height: 100vh;
}

.container-fluid {
  background-color: var(--background);
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: var(--border);
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
}

.nav-link.active {
  background-color: #c35e0c !important;
  color: white !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  background-color: #c35e0c;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 90vw;
  font-size: 1.5rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--background);
  width: 50%;
  padding: 25px;
  gap: 25px;
  border-style: var(--border);
}

.home img {
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: 90%;
}

.menu img {
  height: auto;
  max-width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;            /* Footer height */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--background);
  font-size: 1.2rem;
  border-top: var(--border);
}

@media (max-width: 700px) {
  .home {
    height: 100%;
    width: 100%;
  }
}